$transition-easing: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$dark-grey: #222222;
$blue:         #1078ff;

body {
    padding: 50px 0;
    background-color: #f3f3f3;
}
h1 {
    margin-top: 10%;
    text-align: center;
}